.row {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 75rem
}

.row:before,
.row:after {
    content: " ";
    display: table
}

.row:after {
    clear: both
}

.row.collapse>.column,
.row.collapse>.columns {
    padding-left: 0;
    padding-right: 0
}

.row.collapse .row {
    margin-left: 0;
    margin-right: 0
}

.row .row {
    width: auto;
    margin-left: -1.25rem;
    margin-right: -1.25rem;
    margin-top: 0;
    margin-bottom: 0;
    max-width: none
}

.row .row:before,
.row .row:after {
    content: " ";
    display: table
}

.row .row:after {
    clear: both
}

.row .row.collapse {
    width: auto;
    margin: 0;
    max-width: none
}

.row .row.collapse:before,
.row .row.collapse:after {
    content: " ";
    display: table
}

.row .row.collapse:after {
    clear: both
}

.column,
.columns {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    width: 100%;
    float: left
}

[class*="column"]+[class*="column"]:last-child {
    float: right
}

[class*="column"]+[class*="column"].end {
    float: left
}

@media only screen {
    .small-push-0 {
        position: relative;
        left: 0%;
        right: auto
    }
    .small-pull-0 {
        position: relative;
        right: 0%;
        left: auto
    }
    .small-push-1 {
        position: relative;
        left: 8.3333333333%;
        right: auto
    }
    .small-pull-1 {
        position: relative;
        right: 8.3333333333%;
        left: auto
    }
    .small-push-2 {
        position: relative;
        left: 16.6666666667%;
        right: auto
    }
    .small-pull-2 {
        position: relative;
        right: 16.6666666667%;
        left: auto
    }
    .small-push-3 {
        position: relative;
        left: 25%;
        right: auto
    }
    .small-pull-3 {
        position: relative;
        right: 25%;
        left: auto
    }
    .small-push-4 {
        position: relative;
        left: 33.3333333333%;
        right: auto
    }
    .small-pull-4 {
        position: relative;
        right: 33.3333333333%;
        left: auto
    }
    .small-push-5 {
        position: relative;
        left: 41.6666666667%;
        right: auto
    }
    .small-pull-5 {
        position: relative;
        right: 41.6666666667%;
        left: auto
    }
    .small-push-6 {
        position: relative;
        left: 50%;
        right: auto
    }
    .small-pull-6 {
        position: relative;
        right: 50%;
        left: auto
    }
    .small-push-7 {
        position: relative;
        left: 58.3333333333%;
        right: auto
    }
    .small-pull-7 {
        position: relative;
        right: 58.3333333333%;
        left: auto
    }
    .small-push-8 {
        position: relative;
        left: 66.6666666667%;
        right: auto
    }
    .small-pull-8 {
        position: relative;
        right: 66.6666666667%;
        left: auto
    }
    .small-push-9 {
        position: relative;
        left: 75%;
        right: auto
    }
    .small-pull-9 {
        position: relative;
        right: 75%;
        left: auto
    }
    .small-push-10 {
        position: relative;
        left: 83.3333333333%;
        right: auto
    }
    .small-pull-10 {
        position: relative;
        right: 83.3333333333%;
        left: auto
    }
    .small-push-11 {
        position: relative;
        left: 91.6666666667%;
        right: auto
    }
    .small-pull-11 {
        position: relative;
        right: 91.6666666667%;
        left: auto
    }
    .column,
    .columns {
        position: relative;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        float: left
    }
    .small-1 {
        width: 8.3333333333%
    }
    .small-2 {
        width: 16.6666666667%
    }
    .small-3 {
        width: 25%
    }
    .small-4 {
        width: 33.3333333333%
    }
    .small-5 {
        width: 41.6666666667%
    }
    .small-6 {
        width: 50%
    }
    .small-7 {
        width: 58.3333333333%
    }
    .small-8 {
        width: 66.6666666667%
    }
    .small-9 {
        width: 75%
    }
    .small-10 {
        width: 83.3333333333%
    }
    .small-11 {
        width: 91.6666666667%
    }
    .small-12 {
        width: 100%
    }
    .small-offset-0 {
        margin-left: 0% !important
    }
    .small-offset-1 {
        margin-left: 8.3333333333% !important
    }
    .small-offset-2 {
        margin-left: 16.6666666667% !important
    }
    .small-offset-3 {
        margin-left: 25% !important
    }
    .small-offset-4 {
        margin-left: 33.3333333333% !important
    }
    .small-offset-5 {
        margin-left: 41.6666666667% !important
    }
    .small-offset-6 {
        margin-left: 50% !important
    }
    .small-offset-7 {
        margin-left: 58.3333333333% !important
    }
    .small-offset-8 {
        margin-left: 66.6666666667% !important
    }
    .small-offset-9 {
        margin-left: 75% !important
    }
    .small-offset-10 {
        margin-left: 83.3333333333% !important
    }
    .small-offset-11 {
        margin-left: 91.6666666667% !important
    }
    .small-reset-order {
        margin-left: 0;
        margin-right: 0;
        left: auto;
        right: auto;
        float: left
    }
    .column.small-centered,
    .columns.small-centered {
        margin-left: auto;
        margin-right: auto;
        float: none
    }
    .column.small-uncentered,
    .columns.small-uncentered {
        margin-left: 0;
        margin-right: 0;
        float: left
    }
    .column.small-centered:last-child,
    .columns.small-centered:last-child {
        float: none
    }
    .column.small-uncentered:last-child,
    .columns.small-uncentered:last-child {
        float: left
    }
    .column.small-uncentered.opposite,
    .columns.small-uncentered.opposite {
        float: right
    }
}

@media only screen and (min-width: 35.063em) {
    .medium-push-0 {
        position: relative;
        left: 0%;
        right: auto
    }
    .medium-pull-0 {
        position: relative;
        right: 0%;
        left: auto
    }
    .medium-push-1 {
        position: relative;
        left: 8.3333333333%;
        right: auto
    }
    .medium-pull-1 {
        position: relative;
        right: 8.3333333333%;
        left: auto
    }
    .medium-push-2 {
        position: relative;
        left: 16.6666666667%;
        right: auto
    }
    .medium-pull-2 {
        position: relative;
        right: 16.6666666667%;
        left: auto
    }
    .medium-push-3 {
        position: relative;
        left: 25%;
        right: auto
    }
    .medium-pull-3 {
        position: relative;
        right: 25%;
        left: auto
    }
    .medium-push-4 {
        position: relative;
        left: 33.3333333333%;
        right: auto
    }
    .medium-pull-4 {
        position: relative;
        right: 33.3333333333%;
        left: auto
    }
    .medium-push-5 {
        position: relative;
        left: 41.6666666667%;
        right: auto
    }
    .medium-pull-5 {
        position: relative;
        right: 41.6666666667%;
        left: auto
    }
    .medium-push-6 {
        position: relative;
        left: 50%;
        right: auto
    }
    .medium-pull-6 {
        position: relative;
        right: 50%;
        left: auto
    }
    .medium-push-7 {
        position: relative;
        left: 58.3333333333%;
        right: auto
    }
    .medium-pull-7 {
        position: relative;
        right: 58.3333333333%;
        left: auto
    }
    .medium-push-8 {
        position: relative;
        left: 66.6666666667%;
        right: auto
    }
    .medium-pull-8 {
        position: relative;
        right: 66.6666666667%;
        left: auto
    }
    .medium-push-9 {
        position: relative;
        left: 75%;
        right: auto
    }
    .medium-pull-9 {
        position: relative;
        right: 75%;
        left: auto
    }
    .medium-push-10 {
        position: relative;
        left: 83.3333333333%;
        right: auto
    }
    .medium-pull-10 {
        position: relative;
        right: 83.3333333333%;
        left: auto
    }
    .medium-push-11 {
        position: relative;
        left: 91.6666666667%;
        right: auto
    }
    .medium-pull-11 {
        position: relative;
        right: 91.6666666667%;
        left: auto
    }
    .column,
    .columns {
        position: relative;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        float: left
    }
    .medium-1 {
        width: 8.3333333333%
    }
    .medium-2 {
        width: 16.6666666667%
    }
    .medium-3 {
        width: 25%
    }
    .medium-4 {
        width: 33.3333333333%
    }
    .medium-5 {
        width: 41.6666666667%
    }
    .medium-6 {
        width: 50%
    }
    .medium-7 {
        width: 58.3333333333%
    }
    .medium-8 {
        width: 66.6666666667%
    }
    .medium-9 {
        width: 75%
    }
    .medium-10 {
        width: 83.3333333333%
    }
    .medium-11 {
        width: 91.6666666667%
    }
    .medium-12 {
        width: 100%
    }
    .medium-offset-0 {
        margin-left: 0% !important
    }
    .medium-offset-1 {
        margin-left: 8.3333333333% !important
    }
    .medium-offset-2 {
        margin-left: 16.6666666667% !important
    }
    .medium-offset-3 {
        margin-left: 25% !important
    }
    .medium-offset-4 {
        margin-left: 33.3333333333% !important
    }
    .medium-offset-5 {
        margin-left: 41.6666666667% !important
    }
    .medium-offset-6 {
        margin-left: 50% !important
    }
    .medium-offset-7 {
        margin-left: 58.3333333333% !important
    }
    .medium-offset-8 {
        margin-left: 66.6666666667% !important
    }
    .medium-offset-9 {
        margin-left: 75% !important
    }
    .medium-offset-10 {
        margin-left: 83.3333333333% !important
    }
    .medium-offset-11 {
        margin-left: 91.6666666667% !important
    }
    .medium-reset-order {
        margin-left: 0;
        margin-right: 0;
        left: auto;
        right: auto;
        float: left
    }
    .column.medium-centered,
    .columns.medium-centered {
        margin-left: auto;
        margin-right: auto;
        float: none
    }
    .column.medium-uncentered,
    .columns.medium-uncentered {
        margin-left: 0;
        margin-right: 0;
        float: left
    }
    .column.medium-centered:last-child,
    .columns.medium-centered:last-child {
        float: none
    }
    .column.medium-uncentered:last-child,
    .columns.medium-uncentered:last-child {
        float: left
    }
    .column.medium-uncentered.opposite,
    .columns.medium-uncentered.opposite {
        float: right
    }
    .push-0 {
        position: relative;
        left: 0%;
        right: auto
    }
    .pull-0 {
        position: relative;
        right: 0%;
        left: auto
    }
    .push-1 {
        position: relative;
        left: 8.3333333333%;
        right: auto
    }
    .pull-1 {
        position: relative;
        right: 8.3333333333%;
        left: auto
    }
    .push-2 {
        position: relative;
        left: 16.6666666667%;
        right: auto
    }
    .pull-2 {
        position: relative;
        right: 16.6666666667%;
        left: auto
    }
    .push-3 {
        position: relative;
        left: 25%;
        right: auto
    }
    .pull-3 {
        position: relative;
        right: 25%;
        left: auto
    }
    .push-4 {
        position: relative;
        left: 33.3333333333%;
        right: auto
    }
    .pull-4 {
        position: relative;
        right: 33.3333333333%;
        left: auto
    }
    .push-5 {
        position: relative;
        left: 41.6666666667%;
        right: auto
    }
    .pull-5 {
        position: relative;
        right: 41.6666666667%;
        left: auto
    }
    .push-6 {
        position: relative;
        left: 50%;
        right: auto
    }
    .pull-6 {
        position: relative;
        right: 50%;
        left: auto
    }
    .push-7 {
        position: relative;
        left: 58.3333333333%;
        right: auto
    }
    .pull-7 {
        position: relative;
        right: 58.3333333333%;
        left: auto
    }
    .push-8 {
        position: relative;
        left: 66.6666666667%;
        right: auto
    }
    .pull-8 {
        position: relative;
        right: 66.6666666667%;
        left: auto
    }
    .push-9 {
        position: relative;
        left: 75%;
        right: auto
    }
    .pull-9 {
        position: relative;
        right: 75%;
        left: auto
    }
    .push-10 {
        position: relative;
        left: 83.3333333333%;
        right: auto
    }
    .pull-10 {
        position: relative;
        right: 83.3333333333%;
        left: auto
    }
    .push-11 {
        position: relative;
        left: 91.6666666667%;
        right: auto
    }
    .pull-11 {
        position: relative;
        right: 91.6666666667%;
        left: auto
    }
}

@media only screen and (min-width: 62em) {
    .large-push-0 {
        position: relative;
        left: 0%;
        right: auto
    }
    .large-pull-0 {
        position: relative;
        right: 0%;
        left: auto
    }
    .large-push-1 {
        position: relative;
        left: 8.3333333333%;
        right: auto
    }
    .large-pull-1 {
        position: relative;
        right: 8.3333333333%;
        left: auto
    }
    .large-push-2 {
        position: relative;
        left: 16.6666666667%;
        right: auto
    }
    .large-pull-2 {
        position: relative;
        right: 16.6666666667%;
        left: auto
    }
    .large-push-3 {
        position: relative;
        left: 25%;
        right: auto
    }
    .large-pull-3 {
        position: relative;
        right: 25%;
        left: auto
    }
    .large-push-4 {
        position: relative;
        left: 33.3333333333%;
        right: auto
    }
    .large-pull-4 {
        position: relative;
        right: 33.3333333333%;
        left: auto
    }
    .large-push-5 {
        position: relative;
        left: 41.6666666667%;
        right: auto
    }
    .large-pull-5 {
        position: relative;
        right: 41.6666666667%;
        left: auto
    }
    .large-push-6 {
        position: relative;
        left: 50%;
        right: auto
    }
    .large-pull-6 {
        position: relative;
        right: 50%;
        left: auto
    }
    .large-push-7 {
        position: relative;
        left: 58.3333333333%;
        right: auto
    }
    .large-pull-7 {
        position: relative;
        right: 58.3333333333%;
        left: auto
    }
    .large-push-8 {
        position: relative;
        left: 66.6666666667%;
        right: auto
    }
    .large-pull-8 {
        position: relative;
        right: 66.6666666667%;
        left: auto
    }
    .large-push-9 {
        position: relative;
        left: 75%;
        right: auto
    }
    .large-pull-9 {
        position: relative;
        right: 75%;
        left: auto
    }
    .large-push-10 {
        position: relative;
        left: 83.3333333333%;
        right: auto
    }
    .large-pull-10 {
        position: relative;
        right: 83.3333333333%;
        left: auto
    }
    .large-push-11 {
        position: relative;
        left: 91.6666666667%;
        right: auto
    }
    .large-pull-11 {
        position: relative;
        right: 91.6666666667%;
        left: auto
    }
    .column,
    .columns {
        position: relative;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        float: left
    }
    .large-1 {
        width: 8.3333333333%
    }
    .large-2 {
        width: 16.6666666667%
    }
    .large-3 {
        width: 25%
    }
    .large-4 {
        width: 33.3333333333%
    }
    .large-5 {
        width: 41.6666666667%
    }
    .large-6 {
        width: 50%
    }
    .large-7 {
        width: 58.3333333333%
    }
    .large-8 {
        width: 66.6666666667%
    }
    .large-9 {
        width: 75%
    }
    .large-10 {
        width: 83.3333333333%
    }
    .large-11 {
        width: 91.6666666667%
    }
    .large-12 {
        width: 100%
    }
    .large-offset-0 {
        margin-left: 0% !important
    }
    .large-offset-1 {
        margin-left: 8.3333333333% !important
    }
    .large-offset-2 {
        margin-left: 16.6666666667% !important
    }
    .large-offset-3 {
        margin-left: 25% !important
    }
    .large-offset-4 {
        margin-left: 33.3333333333% !important
    }
    .large-offset-5 {
        margin-left: 41.6666666667% !important
    }
    .large-offset-6 {
        margin-left: 50% !important
    }
    .large-offset-7 {
        margin-left: 58.3333333333% !important
    }
    .large-offset-8 {
        margin-left: 66.6666666667% !important
    }
    .large-offset-9 {
        margin-left: 75% !important
    }
    .large-offset-10 {
        margin-left: 83.3333333333% !important
    }
    .large-offset-11 {
        margin-left: 91.6666666667% !important
    }
    .large-reset-order {
        margin-left: 0;
        margin-right: 0;
        left: auto;
        right: auto;
        float: left
    }
    .column.large-centered,
    .columns.large-centered {
        margin-left: auto;
        margin-right: auto;
        float: none
    }
    .column.large-uncentered,
    .columns.large-uncentered {
        margin-left: 0;
        margin-right: 0;
        float: left
    }
    .column.large-centered:last-child,
    .columns.large-centered:last-child {
        float: none
    }
    .column.large-uncentered:last-child,
    .columns.large-uncentered:last-child {
        float: left
    }
    .column.large-uncentered.opposite,
    .columns.large-uncentered.opposite {
        float: right
    }
    .push-0 {
        position: relative;
        left: 0%;
        right: auto
    }
    .pull-0 {
        position: relative;
        right: 0%;
        left: auto
    }
    .push-1 {
        position: relative;
        left: 8.3333333333%;
        right: auto
    }
    .pull-1 {
        position: relative;
        right: 8.3333333333%;
        left: auto
    }
    .push-2 {
        position: relative;
        left: 16.6666666667%;
        right: auto
    }
    .pull-2 {
        position: relative;
        right: 16.6666666667%;
        left: auto
    }
    .push-3 {
        position: relative;
        left: 25%;
        right: auto
    }
    .pull-3 {
        position: relative;
        right: 25%;
        left: auto
    }
    .push-4 {
        position: relative;
        left: 33.3333333333%;
        right: auto
    }
    .pull-4 {
        position: relative;
        right: 33.3333333333%;
        left: auto
    }
    .push-5 {
        position: relative;
        left: 41.6666666667%;
        right: auto
    }
    .pull-5 {
        position: relative;
        right: 41.6666666667%;
        left: auto
    }
    .push-6 {
        position: relative;
        left: 50%;
        right: auto
    }
    .pull-6 {
        position: relative;
        right: 50%;
        left: auto
    }
    .push-7 {
        position: relative;
        left: 58.3333333333%;
        right: auto
    }
    .pull-7 {
        position: relative;
        right: 58.3333333333%;
        left: auto
    }
    .push-8 {
        position: relative;
        left: 66.6666666667%;
        right: auto
    }
    .pull-8 {
        position: relative;
        right: 66.6666666667%;
        left: auto
    }
    .push-9 {
        position: relative;
        left: 75%;
        right: auto
    }
    .pull-9 {
        position: relative;
        right: 75%;
        left: auto
    }
    .push-10 {
        position: relative;
        left: 83.3333333333%;
        right: auto
    }
    .pull-10 {
        position: relative;
        right: 83.3333333333%;
        left: auto
    }
    .push-11 {
        position: relative;
        left: 91.6666666667%;
        right: auto
    }
    .pull-11 {
        position: relative;
        right: 91.6666666667%;
        left: auto
    }
}

@media only screen and (min-width: 75em) {
    .xlarge-push-0 {
        position: relative;
        left: 0%;
        right: auto
    }
    .xlarge-pull-0 {
        position: relative;
        right: 0%;
        left: auto
    }
    .xlarge-push-1 {
        position: relative;
        left: 8.3333333333%;
        right: auto
    }
    .xlarge-pull-1 {
        position: relative;
        right: 8.3333333333%;
        left: auto
    }
    .xlarge-push-2 {
        position: relative;
        left: 16.6666666667%;
        right: auto
    }
    .xlarge-pull-2 {
        position: relative;
        right: 16.6666666667%;
        left: auto
    }
    .xlarge-push-3 {
        position: relative;
        left: 25%;
        right: auto
    }
    .xlarge-pull-3 {
        position: relative;
        right: 25%;
        left: auto
    }
    .xlarge-push-4 {
        position: relative;
        left: 33.3333333333%;
        right: auto
    }
    .xlarge-pull-4 {
        position: relative;
        right: 33.3333333333%;
        left: auto
    }
    .xlarge-push-5 {
        position: relative;
        left: 41.6666666667%;
        right: auto
    }
    .xlarge-pull-5 {
        position: relative;
        right: 41.6666666667%;
        left: auto
    }
    .xlarge-push-6 {
        position: relative;
        left: 50%;
        right: auto
    }
    .xlarge-pull-6 {
        position: relative;
        right: 50%;
        left: auto
    }
    .xlarge-push-7 {
        position: relative;
        left: 58.3333333333%;
        right: auto
    }
    .xlarge-pull-7 {
        position: relative;
        right: 58.3333333333%;
        left: auto
    }
    .xlarge-push-8 {
        position: relative;
        left: 66.6666666667%;
        right: auto
    }
    .xlarge-pull-8 {
        position: relative;
        right: 66.6666666667%;
        left: auto
    }
    .xlarge-push-9 {
        position: relative;
        left: 75%;
        right: auto
    }
    .xlarge-pull-9 {
        position: relative;
        right: 75%;
        left: auto
    }
    .xlarge-push-10 {
        position: relative;
        left: 83.3333333333%;
        right: auto
    }
    .xlarge-pull-10 {
        position: relative;
        right: 83.3333333333%;
        left: auto
    }
    .xlarge-push-11 {
        position: relative;
        left: 91.6666666667%;
        right: auto
    }
    .xlarge-pull-11 {
        position: relative;
        right: 91.6666666667%;
        left: auto
    }
    .column,
    .columns {
        position: relative;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        float: left
    }
    .xlarge-1 {
        width: 8.3333333333%
    }
    .xlarge-2 {
        width: 16.6666666667%
    }
    .xlarge-3 {
        width: 25%
    }
    .xlarge-4 {
        width: 33.3333333333%
    }
    .xlarge-5 {
        width: 41.6666666667%
    }
    .xlarge-6 {
        width: 50%
    }
    .xlarge-7 {
        width: 58.3333333333%
    }
    .xlarge-8 {
        width: 66.6666666667%
    }
    .xlarge-9 {
        width: 75%
    }
    .xlarge-10 {
        width: 83.3333333333%
    }
    .xlarge-11 {
        width: 91.6666666667%
    }
    .xlarge-12 {
        width: 100%
    }
    .xlarge-offset-0 {
        margin-left: 0% !important
    }
    .xlarge-offset-1 {
        margin-left: 8.3333333333% !important
    }
    .xlarge-offset-2 {
        margin-left: 16.6666666667% !important
    }
    .xlarge-offset-3 {
        margin-left: 25% !important
    }
    .xlarge-offset-4 {
        margin-left: 33.3333333333% !important
    }
    .xlarge-offset-5 {
        margin-left: 41.6666666667% !important
    }
    .xlarge-offset-6 {
        margin-left: 50% !important
    }
    .xlarge-offset-7 {
        margin-left: 58.3333333333% !important
    }
    .xlarge-offset-8 {
        margin-left: 66.6666666667% !important
    }
    .xlarge-offset-9 {
        margin-left: 75% !important
    }
    .xlarge-offset-10 {
        margin-left: 83.3333333333% !important
    }
    .xlarge-offset-11 {
        margin-left: 91.6666666667% !important
    }
    .xlarge-reset-order {
        margin-left: 0;
        margin-right: 0;
        left: auto;
        right: auto;
        float: left
    }
    .column.xlarge-centered,
    .columns.xlarge-centered {
        margin-left: auto;
        margin-right: auto;
        float: none
    }
    .column.xlarge-uncentered,
    .columns.xlarge-uncentered {
        margin-left: 0;
        margin-right: 0;
        float: left
    }
    .column.xlarge-centered:last-child,
    .columns.xlarge-centered:last-child {
        float: none
    }
    .column.xlarge-uncentered:last-child,
    .columns.xlarge-uncentered:last-child {
        float: left
    }
    .column.xlarge-uncentered.opposite,
    .columns.xlarge-uncentered.opposite {
        float: right
    }
}

@media only screen and (min-width: 87.5625em) {
    .xxlarge-push-0 {
        position: relative;
        left: 0%;
        right: auto
    }
    .xxlarge-pull-0 {
        position: relative;
        right: 0%;
        left: auto
    }
    .xxlarge-push-1 {
        position: relative;
        left: 8.3333333333%;
        right: auto
    }
    .xxlarge-pull-1 {
        position: relative;
        right: 8.3333333333%;
        left: auto
    }
    .xxlarge-push-2 {
        position: relative;
        left: 16.6666666667%;
        right: auto
    }
    .xxlarge-pull-2 {
        position: relative;
        right: 16.6666666667%;
        left: auto
    }
    .xxlarge-push-3 {
        position: relative;
        left: 25%;
        right: auto
    }
    .xxlarge-pull-3 {
        position: relative;
        right: 25%;
        left: auto
    }
    .xxlarge-push-4 {
        position: relative;
        left: 33.3333333333%;
        right: auto
    }
    .xxlarge-pull-4 {
        position: relative;
        right: 33.3333333333%;
        left: auto
    }
    .xxlarge-push-5 {
        position: relative;
        left: 41.6666666667%;
        right: auto
    }
    .xxlarge-pull-5 {
        position: relative;
        right: 41.6666666667%;
        left: auto
    }
    .xxlarge-push-6 {
        position: relative;
        left: 50%;
        right: auto
    }
    .xxlarge-pull-6 {
        position: relative;
        right: 50%;
        left: auto
    }
    .xxlarge-push-7 {
        position: relative;
        left: 58.3333333333%;
        right: auto
    }
    .xxlarge-pull-7 {
        position: relative;
        right: 58.3333333333%;
        left: auto
    }
    .xxlarge-push-8 {
        position: relative;
        left: 66.6666666667%;
        right: auto
    }
    .xxlarge-pull-8 {
        position: relative;
        right: 66.6666666667%;
        left: auto
    }
    .xxlarge-push-9 {
        position: relative;
        left: 75%;
        right: auto
    }
    .xxlarge-pull-9 {
        position: relative;
        right: 75%;
        left: auto
    }
    .xxlarge-push-10 {
        position: relative;
        left: 83.3333333333%;
        right: auto
    }
    .xxlarge-pull-10 {
        position: relative;
        right: 83.3333333333%;
        left: auto
    }
    .xxlarge-push-11 {
        position: relative;
        left: 91.6666666667%;
        right: auto
    }
    .xxlarge-pull-11 {
        position: relative;
        right: 91.6666666667%;
        left: auto
    }
    .column,
    .columns {
        position: relative;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        float: left
    }
    .xxlarge-1 {
        width: 8.3333333333%
    }
    .xxlarge-2 {
        width: 16.6666666667%
    }
    .xxlarge-3 {
        width: 25%
    }
    .xxlarge-4 {
        width: 33.3333333333%
    }
    .xxlarge-5 {
        width: 41.6666666667%
    }
    .xxlarge-6 {
        width: 50%
    }
    .xxlarge-7 {
        width: 58.3333333333%
    }
    .xxlarge-8 {
        width: 66.6666666667%
    }
    .xxlarge-9 {
        width: 75%
    }
    .xxlarge-10 {
        width: 83.3333333333%
    }
    .xxlarge-11 {
        width: 91.6666666667%
    }
    .xxlarge-12 {
        width: 100%
    }
    .xxlarge-offset-0 {
        margin-left: 0% !important
    }
    .xxlarge-offset-1 {
        margin-left: 8.3333333333% !important
    }
    .xxlarge-offset-2 {
        margin-left: 16.6666666667% !important
    }
    .xxlarge-offset-3 {
        margin-left: 25% !important
    }
    .xxlarge-offset-4 {
        margin-left: 33.3333333333% !important
    }
    .xxlarge-offset-5 {
        margin-left: 41.6666666667% !important
    }
    .xxlarge-offset-6 {
        margin-left: 50% !important
    }
    .xxlarge-offset-7 {
        margin-left: 58.3333333333% !important
    }
    .xxlarge-offset-8 {
        margin-left: 66.6666666667% !important
    }
    .xxlarge-offset-9 {
        margin-left: 75% !important
    }
    .xxlarge-offset-10 {
        margin-left: 83.3333333333% !important
    }
    .xxlarge-offset-11 {
        margin-left: 91.6666666667% !important
    }
    .xxlarge-reset-order {
        margin-left: 0;
        margin-right: 0;
        left: auto;
        right: auto;
        float: left
    }
    .column.xxlarge-centered,
    .columns.xxlarge-centered {
        margin-left: auto;
        margin-right: auto;
        float: none
    }
    .column.xxlarge-uncentered,
    .columns.xxlarge-uncentered {
        margin-left: 0;
        margin-right: 0;
        float: left
    }
    .column.xxlarge-centered:last-child,
    .columns.xxlarge-centered:last-child {
        float: none
    }
    .column.xxlarge-uncentered:last-child,
    .columns.xxlarge-uncentered:last-child {
        float: left
    }
    .column.xxlarge-uncentered.opposite,
    .columns.xxlarge-uncentered.opposite {
        float: right
    }
}